
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 0% 98%;
    --foreground: 210 40% 3.9%;
    --card: 204 0% 98%;
    --card-foreground: 210 40% 3.9%;
    --popover: 204 0% 98%;
    --popover-foreground: 210 40% 3.9%;
    --primary: 170 70% 30%;
    --primary-foreground: 210 40% 98%;
    --secondary: 204 0% 91.1%;
    --secondary-foreground: 215.2 47.9% 10.8%;
    --muted: 204 0% 91.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 170 70% 40%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 204 20% 88%;
    --input: 204 20% 88%;
    --ring: 170 70% 30%;
    --radius: 0rem;
    --section-background: 84 50% 90%;
  }
 
  .dark {
    --background: 204 10% 10%;
    --foreground: 210 40% 98%;
    --card: 204 10% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 204 10% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 170 70% 40%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 170 70% 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 22.5%;
    --input: 217.2 32.6% 22.5%;
    --ring: 170 70% 40%;
    --section-background: 84 20% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.75s ease-out forwards;
}


@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.anim-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.anim-section.visible {
  opacity: 1;
  transform: translateY(0);
}


@keyframes bounce-and-scale {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-25%) scale(1.5);
  }
}

.animate-bounce-and-scale {
  animation: bounce-and-scale 1s infinite;
}

@keyframes pulse-and-glow {
  0%, 100% {
    transform: scale(1);
    filter: drop-shadow(0 0 2px hsl(var(--primary) / 0));
  }
  50% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px hsl(var(--primary) / 0.5));
  }
}

.animate-pulse-and-glow {
    animation: pulse-and-glow 1.5s ease-in-out infinite;
}
    
